body {
    background-color: #B3A5BA
    ;
    font-family: 'Oswald', sans-serif;
}

img {
    height: 40%;
    width: 40%;
    
}
.card {
    height: 40%;
    width: 40%;
    background-color: #CDD9E9;
    border: #4577A5;
    border-width: 5px;
}