body {
    background-color: #B3A5BA
    ;
    font-family: 'Oswald', sans-serif;
}

img {

}
.card {

    background-color: #CDD9E9;
    border: #4577A5;
    
}

#cocktail-list {
   
}

#spotlight {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
 }
 
 #spotlight-card {
    background-color: #4577A5;
    width: 50vw;
 }